@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Hand:wght@400..700&display=swap');

body{
    background-color: rgb(0, 0, 0);
    margin: 0;
    font-family: "Edu QLD Hand";
    color: #999;
}
main{
    padding: 30px;
    margin: auto;
}

header{
    padding: 40px;
    text-align: center;
    background-color: #333;
    color: white;
}

h1 {
    color: crimson;
    font-size: 3em;
}

p{
    color: crimson;
    line-height: 1.5;
}

header p{
    font-size: 1.2rem;
    font-weight: bold;
}

h2{
    color: crimson;
    font-size: 1.5rem;
}

section{
    margin-bottom: 20px;
    padding: 20px;
    background-color: ghostwhite;
    border-radius: 10px;
}

.intro{
    background-color: white;
}

#functionamiento{
    color: pink;
}

footer{
    padding: 20px;
    text-align: center;
    background-color: #333;
    color: white;
}